.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}

#faq {
  background-color: aqua !important;
}

.info{
  margin: 2vw;
  font-size: 2vw;
}

.lineup {
  z-index: 1;
  background: linear-gradient(to right, rgb(208, 247, 245), rgb(85, 237, 242));
  display: block;
  overflow:visible;
  margin:3rem;
  min-height: 10% !important;
}

.canvas{
  display: block;
  position: absolute !important;
  z-index: -1;
  width: 50vw;
  height: 50vh;
}

.grid {
  max-width: 100%;
  padding: 0;
  background: transparent;
}

.card {
  padding: 1rem 1.2rem;
  font-family: 'Roboto Mono';
  color: white;
}
